.header > .header-logo > img {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 14px;
    height: 60px;
}
@media (min-width: 0px) and (max-width: 670px) {
    .header {
        display: none;
    }
}